<html>
<head>
	<title>Book a Room</title>
	{% load staticfiles %}
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
</head>
<body>
<h1>List of rooms</h1>
<div class="container">
<input type="button" class="btn btn-primary" value="Add new position" onclick="location.href='positions?new';">
{% if rooms_list %}
    <table class="table table-striped">
    <tr>
    	<th>Name</th>
    	<th>Capacity</th>
    	<th>Descriptiom</th>
    </tr>
    	{% for room in rooms_list %}
        <tr>
        	<td><a href="{% url 'detail' room.id %}">{{ room.name }}</a></td>
        	<td>{{ room.capacity }}</td>
        	<td>{{ room.description }}</td>       	
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No rooms are available.</p>
{% endif %}
</div>
</body>
</html>
