{% extends 'base.html' %}
{% block content %}
<h1>List of rooms</h1>
<div class="container">
{% if rooms_list %}
    <table class="table table-striped">
    <tr>
    	<th>Name</th>
    	<th>Capacity</th>
    	<th>Descriptiom</th>
    </tr>
    	{% for room in rooms_list %}
        <tr>
        	<td><a href="{% url 'detail' room.id %}">{{ room.name }}</a></td>
        	<td>{{ room.capacity }}</td>
        	<td>{{ room.description }}</td>       	
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No rooms are available.</p>
{% endif %}
</div>
{% endblock %}
