{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/input_validation.js' %}"></script>
<form action="{% url 'confirm_book' %}" method="POST" class="container form-inline" role="form" id="inputForm">
  {% csrf_token %}
  <div class="alert alert-danger fade-in" id="messg" style="display:none;"></div>
	<table class="table table-striped">
    <tr>
    	<th>Select room</th>
    	<th>Date</th>
    	<th>Begin time</th>
    	<th>End time</th>
    </tr>
 	<tr>
 		<th><div class="form-group">
    		<select class="form-control" name="input_room">
		   	{% for room in rooms %}
     		  	<option value="{{ room.id }}">{{ room.name }}</option>     	
   			{% endfor %}
			</select>	
  		</div></th>
  		<th><div class="form group">
     		<input class="form-control" type="date" name="input_date" onchange="isValidDate(this.form) " required>
  		</div></th>
  		<th><div class="form group">
     		<input class="form-control" type="time" name="input_begin"
        onchange="isValidHour(this.form, 'input_begin')" required>
  		</div></th>
  		<th><div class="form group">
     		<input class="form-control" type="time" name="input_end"
        onchange="isValidHour(this.form, 'input_end')" required>
  		</div></th>
	</table>
</form>
<button class="btn btn-success col-md-offset-2" onclick="checkBookForm()">Check availability</button>
{% endblock %}